# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Hallow.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Home\Projects\Personal\Hallow_Unity\Hallow\.idea\.idea.Hallow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
